.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 0.1s;
}

@keyframes rock {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(50px);
    }
    67% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0)

#bear:active {
    animation: rock 2s;
}

@keyframes disappear {
    0% {
        transform: scale(100%);
        opacity: 100%;
    }

    100% {
        transform: scale(10%);
        opacity: 0%;
    }
}

#elephant:active {
    animation: disappear 1s;
}

@keyframes dance {
    0% {
        transform: rotate(0deg) translate(0px);
    }
    33% {
        transform: ;
    }
}